.shop_container{
    display: grid;
    grid-template-columns: 4fr 1fr ;
}

.products_container{
        margin: 50px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 25px;
       
}
.review_order{
    width: 100%;
    margin: 15px 0px;
}

